src/main/resources/schemas/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="xmlVersion">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="toSubFolder" type="xs:boolean"/>
	<xs:element name="mainText" type="xs:string"/>
	<xs:element name="loopTexts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="loopText" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Описание каждого повторяющегося текста</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="loopText">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" use="required">
						<xs:annotation>
							<xs:documentation>Имя повторяющегося текста</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="amountCopyes" use="required">
						<xs:annotation>
							<xs:documentation>Количество копий</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:nonNegativeInteger">
								 <xs:minInclusive value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="formulas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="formula" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Описание каждой конкретной формулы</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="formula">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:annotation>
					<xs:documentation>Имя формулы</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="isLoop" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>Получать новое значение для каждого вхождения формулы в файле</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="formula" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Функция формулы</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="fileNameMask">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="encoding">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cliche">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="formulas">
					<xs:annotation>
						<xs:documentation>Используемые формулы</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="loopTexts" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Повторяющиеся тексты</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="fileNameMask">
					<xs:annotation>
						<xs:documentation>Шаблон имени генерируемого файла</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="amountCopyes" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Количество копий файла на выходе</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="toSubFolder">
					<xs:annotation>
						<xs:documentation>Помещать результаты работы по этому клише в отдельную папку</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="encoding" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Кодировка результирующего файла</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="xmlVersion" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Версия XML</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="mainText">
					<xs:annotation>
						<xs:documentation>Основное содержимое файла</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="amountCopyes">
		<xs:simpleType>
							<xs:restriction base="xs:nonNegativeInteger">
								 <xs:minInclusive value="1"/>
							</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
